.wrap {
    display: grid;
    grid-template-columns: 1fr 17fr;
}

.content {
    padding: 0 30px;
    background: #F2F2F2;
    font-family: 'Roboto', sans-serif;
}

.content__head {
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
}

.head-text {
    font-weight: bold;
    font-size: 22px;
    line-height: 24px;
    color: #475364;
    justify-self: start;
}

.support-text {
    font-size: 10px;
    line-height: 12px;  
    color: #8EA4B5;
    justify-self: start;
}

.quantity-text {
    font-size: 11px;
}

.btn {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    box-sizing: border-box;
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
    line-height: 11px;
    vertical-align: middle;
}

.btn-img {
    margin-right: 6px;
}

.content__head__btn__wrap {
    justify-self: end;
    display: flex;
}

.btn-favorites {
    border: 1px solid #DBE4E7;
    background: #FFFFFF;
    color: #475364;
    margin-right: 10px;
}

.btn-add-job-seeker {
    background: #386BF2;
    color: #FFFFFF;
}

.content__table {
    width: 100%;
    background-color: #FFFFFF;
    border-collapse: collapse;
    border: 2px solid #F2F2F2;
    border-radius: 3px;
}

tr {
    border: 2px solid #F2F2F2;
    border-radius: 3px;
}

.content__table__head th {
    text-transform: uppercase;
    padding: 14px 0 14px 20px;
}

td {
    padding: 14px 0 14px 20px;
    
}

.job-seeker-card {
    display: flex;
    align-items: center;
}

.job-seeker-text {
    display: flex;
    flex-direction: column;
}

.job-seeker-photo {
    float: left;
    border-radius: 50%;
    margin-right: 10px;
}

.phone-card {
    display: flex;
    align-items: center;
}

.phone-img {
    float: left;
    margin-right: 10px;
}

.phone-text {
    display: flex;
    flex-direction: column;
}
