.header {
    display: flex;
    align-items: center;
    background: #29313C;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    height: 70px;
    padding-left: 27px;
}

.header__logo {
    height: 36px;
}
