.modal {
    position: absolute;
    width: calc(100% - 80px);
    height: 100%;
    top: 70px;
    left: 80px;
    background: rgba(71, 83, 100, 0.8);
    display: flex;
    justify-content: flex-end;
}

.modal.closed {
    display: none;
}

.modal__close {
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 3px;
    width: 10px;
    height: 10px;
    margin-top: 12px;
    margin-right: 10px;
    cursor: pointer;
    color: #29313C;
    font-size: 14px;
}

.modal__form {
    height: 100%;
    width: 48%;
    background-color: #FFFFFF;
    color: #475364;
}

.form__heading,
.form__caption,
.form__label {
    text-transform: uppercase;
    font-weight: bold;
}

.form__heading {
    font-size: 14px;
    border-bottom: 1px solid #F4F9FB;
}

.form__section {
    border-bottom: 1px solid #F4F9FB;
}

.form__heading,
.form__section {
    padding: 15px 25px;
}

.form__caption {
    font-size: 12px;
    margin-bottom: 16px;
}

.form__label {
    font-size: 11px;
    display: block;
    margin-bottom: 8px;
}


.form__input {
    width: 100%;
    padding: 12px;
    background-color: #F4F9FB;
    border: 1px solid #DCE5EA;
    box-sizing: border-box;
    border-radius: 3px;
    margin-bottom: 20px;
}

.form__label_next_support,
.form__input_next_support {
    margin-bottom: 0;
}

.form__input::-webkit-input-placeholder {
    font-size: 12px;
    color: #8EA4B5;
}

.form__input:-moz-placeholder {
    font-size: 12px;
    color: #8EA4B5;
}

select:required:invalid {
    font-size: 12px;
    color: #8EA4B5;
}

.modal__form .support-text {
    display: inline-block;
    margin-bottom: 8px;
}

.form__input--file {
    display: block;
    width: 100%;
    padding: 4px;
    background-color: #F4F9FB;
    border: 1px solid #DCE5EA;
    box-sizing: border-box;
    border-radius: 3px;
}

.form__input--button {
    display: inline-block;
    background-color: #386BF2;
    color: #FFFFFF;
    font-size: 10px;
    font-style: normal;
    text-transform: uppercase;
    border-radius: 3px;
    box-sizing: border-box;
    border: none;
    padding: 8px 10px;
}

.form__file-name {
    display: inline-block;
    font-size: 12px;
    color: #8EA4B5;
    margin-left: 10px;
}

input[type="file"] {
    display: none;
}

.form__review {
    display: flex;
    justify-content: space-between;
}

.form__buttons {
    display: flex;
    justify-content: space-between;
}

.form__button {
    width: calc(50% - 5px);
    display: flex;
    justify-content: center;
}

.btn-cancel {
    border: 1px solid #D4E2E7;
    color: #475364;
}