.modal {
    position: absolute;
    width: calc(100% - 80px);
    height: calc(100% - 70px);
    top: 70px;
    left: 80px;
    background: rgba(71, 83, 100, 0.8);
    display: flex;
    justify-content: flex-end;
}

.modal.closed {
    display: none;
}

.modal__close {
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 3px;
    width: 10px;
    height: 10px;
    margin-top: 12px;
    margin-right: 10px;
    cursor: pointer;
    color: #29313C;
    font-size: 14px;
}

.modal__form {
    height: calc(100% - 40px);
    width: 48%;
    background-color: #FFFFFF;
    color: #475364;
    padding: 20px 25px;
}

.modal hr {
    color: #F4F9FB;
    /* background-color: #F4F9FB; */
    background-color: #000;
    border: none;
    height: 1px;
}

.modal hr:first-of-type {
    margin: 15px 0;
}

.form__heading,
.form__caption,
.form__label {
    text-transform: uppercase;
    font-weight: bold;
}

.form__heading {
    font-size: 14px;
}

fieldset {
    border: none;
}

.form__caption {
    font-size: 12px;
    margin-bottom: 16px;
}

.form__label {
    font-size: 11px;
    display: block;
    margin-bottom: 8px;
}

.form__input {
    width: 100%;
    padding: 12px;
    background-color: #F4F9FB;
    border: 1px solid #DCE5EA;
    box-sizing: border-box;
    border-radius: 3px;
    margin-bottom: 20px;
}

.form__input::-webkit-input-placeholder {
    font-size: 12px;
    color: #8EA4B5;
}

.form__input:-moz-placeholder {
    font-size: 12px;
    color: #8EA4B5;
}

select:required:invalid {
    font-size: 12px;
    color: #8EA4B5;
}

.modal__form .support-text {
    display: inline-block;
    margin-bottom: 8px;
}

.form__input::-webkit-file-upload-button {
    background-color: #386BF2;
    color: #FFFFFF;
    font-size: 10px;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 3px;
    box-sizing: border-box;
    border: none;
    padding: 8px 10px;
}

.form__input::-ms-browse {
    content: 'Выберите файл';
    background-color: #386BF2;
    color: #FFFFFF;
    font-size: 10px;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 3px;
    box-sizing: border-box;
    border: none;
    padding: 8px 10px;
}

input[type="file"].form__input {
    padding: 5px;
}
